<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="initial-scale=1, maximum-scale=1, user-scalable=no, width=device-width">
    <title>Azur Hotel App</title>

    <link href="lib/ionic/css/ionic.css" rel="stylesheet">
    <link href="css/style.min.css" rel="stylesheet">

    <!-- IF using Sass (run gulp sass first), then uncomment below and remove the CSS includes above
    <link href="css/ionic.app.css" rel="stylesheet">
    -->

    <!-- ionic/angularjs js -->
    <script src="lib/ionic/js/ionic.bundle.js"></script>

    <!-- cordova script (this will be a 404 during development) -->
    <script src="cordova.js"></script>

    <!-- your app's js -->
    <script src="js/app.js"></script>
    <script src="js/controllers.js"></script>
  </head>

  <body ng-app="starter" class="bg" ng-controller="ReservationCtrl">
    <div class="bar bar-header bar-royal">
      <div class="h1 title">Annuler votre réservation</div>
    </div>

    <p style="margin-top: 50px; margin-left: 15px; color: white;">
    Pour annuler votre réservation, veuillez vous munir de vos informations se trouvant dans le mail de confirmation.
    </p>

  <form ng-submit="submit()">
    <div class="padding">
      <div class="list">
        <label class="item item-input item-stacked-label">
          <span class="input-label">Numéro de réservation</span>
          <input type="text" name="numres" ng-model="data.numres" placeholder="125">
        </label>
        <label class="item item-input item-stacked-label">
          <span class="input-label">Code d'accès</span>
          <input type="text" name="codeacess" ng-model="data.codeacess" placeholder="azerty123">
        </label>
      </div>

      <button class="button button-full button-royal icon-left ion-ios-close" type="submit" name="submit">Annuler cette réservation</button>
    </div>
  </form>

  <div class="card">
    <div class="item item-text-wrap">
        Résultat: <b ng-bind="response"></b>
    </div>
  </div>

    <div class="tabs tabs-icon-top tabs-color-royal">
      <a class="tab-item" href="index.html">
        <i class="icon ion-home icon-home"></i>
        Accueil
      </a>
      <a class="tab-item" href="listhotel.html">
        <i class="icon ion-wineglass icon-hotel"></i>
        Liste Hôtel
      </a>
      <a class="tab-item active" href="annulerReservation.html">
        <i class="icon ion-ios-close icon-res"></i>
        Annuler réservation
      </a>
    </div>

  </body>
</html>
